In [35]:
!pip install -q git+https://github.com/tensorflow/docs
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [36]:
!wget https://cdn.freecodecamp.org/project-data/health-costs/insurance.csv
dataset = pd.read_csv('insurance.csv')
dataset.tail()

'wget' is not recognized as an internal or external command,
operable program or batch file.

      age     sex   bmi  children smoker     region  expenses
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

In [37]:
dataset.shape

(1338, 7)

In [38]:
dataset.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [39]:
dataset["sex"]=dataset["sex"].apply(lambda x : 0 if x=="male" else 1)
dataset["smoker"]=dataset["smoker"].apply(lambda x : 1 if x=="yes" else 0)

In [40]:
dataset.head()

   age  sex   bmi  children  smoker     region  expenses
0   19    1  27.9         0       1  southwest  16884.92
1   18    0  33.8         1       0  southeast   1725.55
2   28    0  33.0         3       0  southeast   4449.46
3   33    0  22.7         0       0  northwest  21984.47
4   32    0  28.9         0       0  northwest   3866.86

In [41]:
df=pd.get_dummies(dataset, columns=["region"])

In [42]:
df.head()

,age,sex,bmi,children,smoker,expenses,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.9,0,1,16884.92,0,0,0,1
1,18,0,33.8,1,0,1725.55,0,0,1,0
2,28,0,33.0,3,0,4449.46,0,0,1,0
3,33,0,22.7,0,0,21984.47,0,1,0,0
4,32,0,28.9,0,0,3866.86,0,1,0,0

In [43]:
df.isnull().sum()

age                 0
sex                 0
bmi                 0
children            0
smoker              0
expenses            0
region_northeast    0
region_northwest    0
region_southeast    0
region_southwest    0
dtype: int64

In [44]:
y=df['expenses'].values
x=df.drop(columns=["expenses"]).values

In [48]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2, random_state=0)

In [49]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [50]:
INPUT_SIZE=x.shape[1]

In [69]:
model=tf.keras.Sequential([
    tf.keras.layers.Dense(units=100, input_shape=(INPUT_SIZE, ), activation="relu"),
    tf.keras.layers.Dense(units=100, activation="relu"),
    tf.keras.layers.Dense(units=100, activation="relu"),
    tf.keras.layers.Dense(units=100, activation="relu"),
    tf.keras.layers.Dense(units=50, activation="relu"),
    tf.keras.layers.Dense(units=1 )
])

In [70]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_17 (Dense)            (None, 100)               1000

 dense_18 (Dense)            (None, 100)               10100

 dense_19 (Dense)            (None, 100)               10100

 dense_20 (Dense)            (None, 100)               10100

 dense_21 (Dense)            (None, 50)                5050

 dense_22 (Dense)            (None, 1)                 51

=================================================================
Total params: 36,401
Trainable params: 36,401
Non-trainable params: 0
_________________________________________________________________

In [71]:
model.compile(optimizer="adam", loss="mae", metrics=["accuracy"])

In [72]:
model.fit(x_train, y_train,epochs=100 ,validation_data=(x_test,y_test),)

Epoch 1/100
34/34 [==============================] - 1s 10ms/step - loss: 13186.2285 - accuracy: 0.0000e+00 - val_loss: 13459.2783 - val_accuracy: 0.0000e+00
Epoch 2/100
34/34 [==============================] - 0s 4ms/step - loss: 12095.0303 - accuracy: 0.0000e+00 - val_loss: 9725.8887 - val_accuracy: 0.0000e+00
Epoch 3/100
34/34 [==============================] - 0s 5ms/step - loss: 7854.7578 - accuracy: 0.0000e+00 - val_loss: 6967.7070 - val_accuracy: 0.0000e+00
Epoch 4/100
34/34 [==============================] - 0s 6ms/step - loss: 5696.8418 - accuracy: 0.0000e+00 - val_loss: 4600.0303 - val_accuracy: 0.0000e+00
Epoch 5/100
34/34 [==============================] - 0s 4ms/step - loss: 4059.9429 - accuracy: 0.0000e+00 - val_loss: 3541.9067 - val_accuracy: 0.0000e+00
Epoch 6/100
34/34 [==============================] - 0s 6ms/step - loss: 3562.4541 - accuracy: 0.0000e+00 - val_loss: 3180.4275 - val_accuracy: 0.0000e+00
Epoch 7/100
34/34 [==============================] - 0s 6ms/step - loss: 3342.5312 - accuracy: 0.0000e+00 - val_loss: 3042.0859 - val_accuracy: 0.0000e+00
Epoch 8/100
34/34 [==============================] - 0s 6ms/step - loss: 3092.4009 - accuracy: 0.0000e+00 - val_loss: 2612.7913 - val_accuracy: 0.0000e+00
Epoch 9/100
34/34 [==============================] - 0s 5ms/step - loss: 2859.8008 - accuracy: 0.0000e+00 - val_loss: 2483.8567 - val_accuracy: 0.0000e+00
Epoch 10/100
34/34 [==============================] - 0s 6ms/step - loss: 2696.3469 - accuracy: 0.0000e+00 - val_loss: 2410.0417 - val_accuracy: 0.0000e+00
Epoch 11/100
34/34 [==============================] - 0s 6ms/step - loss: 2545.8391 - accuracy: 0.0000e+00 - val_loss: 2313.6665 - val_accuracy: 0.0000e+00
Epoch 12/100
34/34 [==============================] - 0s 6ms/step - loss: 2448.8379 - accuracy: 0.0000e+00 - val_loss: 2277.0625 - val_accuracy: 0.0000e+00
Epoch 13/100
34/34 [==============================] - 0s 6ms/step - loss: 2363.0100 - accuracy: 0.0000e+00 - val_loss: 2200.5901 - val_accuracy: 0.0000e+00
Epoch 14/100
34/34 [==============================] - 0s 5ms/step - loss: 2294.4519 - accuracy: 0.0000e+00 - val_loss: 2213.5234 - val_accuracy: 0.0000e+00
Epoch 15/100
34/34 [==============================] - 0s 5ms/step - loss: 2265.4006 - accuracy: 0.0000e+00 - val_loss: 2231.1084 - val_accuracy: 0.0000e+00
Epoch 16/100
34/34 [==============================] - 0s 5ms/step - loss: 2257.8518 - accuracy: 0.0000e+00 - val_loss: 2149.8083 - val_accuracy: 0.0000e+00
Epoch 17/100
34/34 [==============================] - 0s 6ms/step - loss: 2211.4871 - accuracy: 0.0000e+00 - val_loss: 2099.1675 - val_accuracy: 0.0000e+00
Epoch 18/100
34/34 [==============================] - 0s 6ms/step - loss: 2170.4773 - accuracy: 0.0000e+00 - val_loss: 2094.3835 - val_accuracy: 0.0000e+00
Epoch 19/100
34/34 [==============================] - 0s 5ms/step - loss: 2187.0266 - accuracy: 0.0000e+00 - val_loss: 2107.2651 - val_accuracy: 0.0000e+00
Epoch 20/100
34/34 [==============================] - 0s 5ms/step - loss: 2152.1672 - accuracy: 0.0000e+00 - val_loss: 2099.4792 - val_accuracy: 0.0000e+00
Epoch 21/100
34/34 [==============================] - 0s 6ms/step - loss: 2116.9961 - accuracy: 0.0000e+00 - val_loss: 2041.5070 - val_accuracy: 0.0000e+00
Epoch 22/100
34/34 [==============================] - 0s 7ms/step - loss: 2090.4653 - accuracy: 0.0000e+00 - val_loss: 2008.2134 - val_accuracy: 0.0000e+00
Epoch 23/100
34/34 [==============================] - 0s 5ms/step - loss: 2110.2849 - accuracy: 0.0000e+00 - val_loss: 1978.0054 - val_accuracy: 0.0000e+00
Epoch 24/100
34/34 [==============================] - 0s 6ms/step - loss: 2085.5298 - accuracy: 0.0000e+00 - val_loss: 1990.3015 - val_accuracy: 0.0000e+00
Epoch 25/100
34/34 [==============================] - 0s 5ms/step - loss: 2049.6907 - accuracy: 0.0000e+00 - val_loss: 1966.0217 - val_accuracy: 0.0000e+00
Epoch 26/100
34/34 [==============================] - 0s 6ms/step - loss: 2073.1807 - accuracy: 0.0000e+00 - val_loss: 1994.2670 - val_accuracy: 0.0000e+00
Epoch 27/100
34/34 [==============================] - 0s 6ms/step - loss: 2075.0925 - accuracy: 0.0000e+00 - val_loss: 2029.8899 - val_accuracy: 0.0000e+00
Epoch 28/100
34/34 [==============================] - 0s 6ms/step - loss: 2086.6565 - accuracy: 0.0000e+00 - val_loss: 2027.8202 - val_accuracy: 0.0000e+00
Epoch 29/100
34/34 [==============================] - 0s 5ms/step - loss: 2053.2893 - accuracy: 0.0000e+00 - val_loss: 1966.7700 - val_accuracy: 0.0000e+00
Epoch 30/100
34/34 [==============================] - 0s 4ms/step - loss: 2020.6481 - accuracy: 0.0000e+00 - val_loss: 1928.9677 - val_accuracy: 0.0000e+00
Epoch 31/100
34/34 [==============================] - 0s 4ms/step - loss: 2005.1133 - accuracy: 0.0000e+00 - val_loss: 1942.8153 - val_accuracy: 0.0000e+00
Epoch 32/100
34/34 [==============================] - 0s 4ms/step - loss: 2018.6102 - accuracy: 0.0000e+00 - val_loss: 1917.4956 - val_accuracy: 0.0000e+00
Epoch 33/100
34/34 [==============================] - 0s 4ms/step - loss: 1996.7383 - accuracy: 0.0000e+00 - val_loss: 1878.0310 - val_accuracy: 0.0000e+00
Epoch 34/100
34/34 [==============================] - 0s 4ms/step - loss: 1986.4336 - accuracy: 0.0000e+00 - val_loss: 1881.7451 - val_accuracy: 0.0000e+00
Epoch 35/100
34/34 [==============================] - 0s 4ms/step - loss: 1977.8878 - accuracy: 0.0000e+00 - val_loss: 1894.6914 - val_accuracy: 0.0000e+00
Epoch 36/100
34/34 [==============================] - 0s 4ms/step - loss: 1974.0991 - accuracy: 0.0000e+00 - val_loss: 1890.7921 - val_accuracy: 0.0000e+00
Epoch 37/100
34/34 [==============================] - 0s 4ms/step - loss: 1974.4222 - accuracy: 0.0000e+00 - val_loss: 1857.6064 - val_accuracy: 0.0000e+00
Epoch 38/100
34/34 [==============================] - 0s 4ms/step - loss: 1951.3928 - accuracy: 0.0000e+00 - val_loss: 1874.4135 - val_accuracy: 0.0000e+00
Epoch 39/100
34/34 [==============================] - 0s 4ms/step - loss: 1956.3558 - accuracy: 0.0000e+00 - val_loss: 1854.3442 - val_accuracy: 0.0000e+00
Epoch 40/100
34/34 [==============================] - 0s 4ms/step - loss: 1965.0774 - accuracy: 0.0000e+00 - val_loss: 1851.3063 - val_accuracy: 0.0000e+00
Epoch 41/100
34/34 [==============================] - 0s 3ms/step - loss: 1937.3206 - accuracy: 0.0000e+00 - val_loss: 1836.6434 - val_accuracy: 0.0000e+00
Epoch 42/100
34/34 [==============================] - 0s 6ms/step - loss: 1941.7632 - accuracy: 0.0000e+00 - val_loss: 1843.4860 - val_accuracy: 0.0000e+00
Epoch 43/100
34/34 [==============================] - 0s 6ms/step - loss: 1925.2491 - accuracy: 0.0000e+00 - val_loss: 1813.5002 - val_accuracy: 0.0000e+00
Epoch 44/100
34/34 [==============================] - 0s 7ms/step - loss: 1924.3267 - accuracy: 0.0000e+00 - val_loss: 1804.3820 - val_accuracy: 0.0000e+00
Epoch 45/100
34/34 [==============================] - 0s 6ms/step - loss: 1927.3075 - accuracy: 0.0000e+00 - val_loss: 1862.9607 - val_accuracy: 0.0000e+00
Epoch 46/100
34/34 [==============================] - 0s 6ms/step - loss: 1946.6833 - accuracy: 0.0000e+00 - val_loss: 1817.0925 - val_accuracy: 0.0000e+00
Epoch 47/100
34/34 [==============================] - 0s 7ms/step - loss: 1906.9121 - accuracy: 0.0000e+00 - val_loss: 1782.7041 - val_accuracy: 0.0000e+00
Epoch 48/100
34/34 [==============================] - 0s 5ms/step - loss: 1902.4730 - accuracy: 0.0000e+00 - val_loss: 1769.1521 - val_accuracy: 0.0000e+00
Epoch 49/100
34/34 [==============================] - 0s 6ms/step - loss: 1859.7286 - accuracy: 0.0000e+00 - val_loss: 1756.9453 - val_accuracy: 0.0000e+00
Epoch 50/100
34/34 [==============================] - 0s 6ms/step - loss: 1856.9629 - accuracy: 0.0000e+00 - val_loss: 1736.7567 - val_accuracy: 0.0000e+00
Epoch 51/100
34/34 [==============================] - 0s 7ms/step - loss: 1834.1598 - accuracy: 0.0000e+00 - val_loss: 1715.3607 - val_accuracy: 0.0000e+00
Epoch 52/100
34/34 [==============================] - 0s 7ms/step - loss: 1827.0945 - accuracy: 0.0000e+00 - val_loss: 1714.4199 - val_accuracy: 0.0000e+00
Epoch 53/100

34/34 [==============================] - 0s 5ms/step - loss: 1834.1421 - accuracy: 0.0000e+00 - val_loss: 1714.8333 - val_accuracy: 0.0000e+00
Epoch 54/100
34/34 [==============================] - 0s 6ms/step - loss: 1817.6909 - accuracy: 0.0000e+00 - val_loss: 1695.9962 - val_accuracy: 0.0000e+00
Epoch 55/100
34/34 [==============================] - 0s 6ms/step - loss: 1812.1832 - accuracy: 0.0000e+00 - val_loss: 1690.6440 - val_accuracy: 0.0000e+00
Epoch 56/100
34/34 [==============================] - 0s 6ms/step - loss: 1815.5669 - accuracy: 0.0000e+00 - val_loss: 1689.5845 - val_accuracy: 0.0000e+00
Epoch 57/100
34/34 [==============================] - 0s 6ms/step - loss: 1806.7262 - accuracy: 0.0000e+00 - val_loss: 1753.1521 - val_accuracy: 0.0000e+00
Epoch 58/100
34/34 [==============================] - 0s 5ms/step - loss: 1785.8632 - accuracy: 0.0000e+00 - val_loss: 1659.1133 - val_accuracy: 0.0000e+00
Epoch 59/100
34/34 [==============================] - 0s 5ms/step - loss: 1793.8156 - accuracy: 0.0000e+00 - val_loss: 1683.4514 - val_accuracy: 0.0000e+00
Epoch 60/100
34/34 [==============================] - 0s 5ms/step - loss: 1768.9653 - accuracy: 0.0000e+00 - val_loss: 1666.7229 - val_accuracy: 0.0000e+00
Epoch 61/100
34/34 [==============================] - 0s 4ms/step - loss: 1774.9525 - accuracy: 0.0000e+00 - val_loss: 1673.2261 - val_accuracy: 0.0000e+00
Epoch 62/100
34/34 [==============================] - 0s 4ms/step - loss: 1764.5358 - accuracy: 0.0000e+00 - val_loss: 1694.6306 - val_accuracy: 0.0000e+00
Epoch 63/100
34/34 [==============================] - 0s 6ms/step - loss: 1767.3854 - accuracy: 0.0000e+00 - val_loss: 1640.5997 - val_accuracy: 0.0000e+00
Epoch 64/100
34/34 [==============================] - 0s 6ms/step - loss: 1770.4803 - accuracy: 0.0000e+00 - val_loss: 1638.4651 - val_accuracy: 0.0000e+00
Epoch 65/100
34/34 [==============================] - 0s 7ms/step - loss: 1750.6498 - accuracy: 0.0000e+00 - val_loss: 1616.3746 - val_accuracy: 0.0000e+00
Epoch 66/100
34/34 [==============================] - 0s 6ms/step - loss: 1754.5464 - accuracy: 0.0000e+00 - val_loss: 1677.5272 - val_accuracy: 0.0000e+00
Epoch 67/100
34/34 [==============================] - 0s 6ms/step - loss: 1781.9111 - accuracy: 0.0000e+00 - val_loss: 1675.6071 - val_accuracy: 0.0000e+00
Epoch 68/100
34/34 [==============================] - 0s 6ms/step - loss: 1763.7490 - accuracy: 0.0000e+00 - val_loss: 1585.4832 - val_accuracy: 0.0000e+00
Epoch 69/100
34/34 [==============================] - 0s 6ms/step - loss: 1759.2170 - accuracy: 0.0000e+00 - val_loss: 1632.2543 - val_accuracy: 0.0000e+00
Epoch 70/100
34/34 [==============================] - 0s 6ms/step - loss: 1722.1395 - accuracy: 0.0000e+00 - val_loss: 1625.1106 - val_accuracy: 0.0000e+00
Epoch 71/100
34/34 [==============================] - 0s 5ms/step - loss: 1715.3168 - accuracy: 0.0000e+00 - val_loss: 1607.2346 - val_accuracy: 0.0000e+00
Epoch 72/100
34/34 [==============================] - 0s 4ms/step - loss: 1751.9646 - accuracy: 0.0000e+00 - val_loss: 1612.8398 - val_accuracy: 0.0000e+00
Epoch 73/100
34/34 [==============================] - 0s 4ms/step - loss: 1702.6780 - accuracy: 0.0000e+00 - val_loss: 1602.0011 - val_accuracy: 0.0000e+00
Epoch 74/100
34/34 [==============================] - 0s 4ms/step - loss: 1753.1970 - accuracy: 0.0000e+00 - val_loss: 1659.1462 - val_accuracy: 0.0000e+00
Epoch 75/100
34/34 [==============================] - 0s 5ms/step - loss: 1707.2990 - accuracy: 0.0000e+00 - val_loss: 1555.4982 - val_accuracy: 0.0000e+00
Epoch 76/100
34/34 [==============================] - 0s 5ms/step - loss: 1668.4235 - accuracy: 0.0000e+00 - val_loss: 1542.4310 - val_accuracy: 0.0000e+00
Epoch 77/100
34/34 [==============================] - 0s 4ms/step - loss: 1685.0887 - accuracy: 0.0000e+00 - val_loss: 1578.3695 - val_accuracy: 0.0000e+00
Epoch 78/100
34/34 [==============================] - 0s 5ms/step - loss: 1704.5286 - accuracy: 0.0000e+00 - val_loss: 1572.7358 - val_accuracy: 0.0000e+00
Epoch 79/100
34/34 [==============================] - 0s 5ms/step - loss: 1668.9893 - accuracy: 0.0000e+00 - val_loss: 1570.2205 - val_accuracy: 0.0000e+00
Epoch 80/100
34/34 [==============================] - 0s 4ms/step - loss: 1671.7733 - accuracy: 0.0000e+00 - val_loss: 1571.4064 - val_accuracy: 0.0000e+00
Epoch 81/100
34/34 [==============================] - 0s 4ms/step - loss: 1649.8219 - accuracy: 0.0000e+00 - val_loss: 1530.6425 - val_accuracy: 0.0000e+00
Epoch 82/100
34/34 [==============================] - 0s 5ms/step - loss: 1678.9222 - accuracy: 0.0000e+00 - val_loss: 1565.1786 - val_accuracy: 0.0000e+00
Epoch 83/100
34/34 [==============================] - 0s 5ms/step - loss: 1667.4103 - accuracy: 0.0000e+00 - val_loss: 1521.4126 - val_accuracy: 0.0000e+00
Epoch 84/100
34/34 [==============================] - 0s 6ms/step - loss: 1652.1287 - accuracy: 0.0000e+00 - val_loss: 1554.6997 - val_accuracy: 0.0000e+00
Epoch 85/100
34/34 [==============================] - 0s 6ms/step - loss: 1660.4686 - accuracy: 0.0000e+00 - val_loss: 1492.8124 - val_accuracy: 0.0000e+00
Epoch 86/100
34/34 [==============================] - 0s 6ms/step - loss: 1653.3228 - accuracy: 0.0000e+00 - val_loss: 1510.6289 - val_accuracy: 0.0000e+00
Epoch 87/100
34/34 [==============================] - 0s 5ms/step - loss: 1641.9606 - accuracy: 0.0000e+00 - val_loss: 1531.1719 - val_accuracy: 0.0000e+00
Epoch 88/100
34/34 [==============================] - 0s 5ms/step - loss: 1657.2904 - accuracy: 0.0000e+00 - val_loss: 1567.3647 - val_accuracy: 0.0000e+00
Epoch 89/100
34/34 [==============================] - 0s 6ms/step - loss: 1636.7089 - accuracy: 0.0000e+00 - val_loss: 1514.0808 - val_accuracy: 0.0000e+00
Epoch 90/100
34/34 [==============================] - 0s 6ms/step - loss: 1619.9697 - accuracy: 0.0000e+00 - val_loss: 1542.8419 - val_accuracy: 0.0000e+00
Epoch 91/100
34/34 [==============================] - 0s 5ms/step - loss: 1664.9497 - accuracy: 0.0000e+00 - val_loss: 1515.7992 - val_accuracy: 0.0000e+00
Epoch 92/100
34/34 [==============================] - 0s 4ms/step - loss: 1625.4443 - accuracy: 0.0000e+00 - val_loss: 1483.5625 - val_accuracy: 0.0000e+00
Epoch 93/100
34/34 [==============================] - 0s 5ms/step - loss: 1603.9219 - accuracy: 0.0000e+00 - val_loss: 1488.4768 - val_accuracy: 0.0000e+00
Epoch 94/100
34/34 [==============================] - 0s 5ms/step - loss: 1634.9913 - accuracy: 0.0000e+00 - val_loss: 1530.1615 - val_accuracy: 0.0000e+00
Epoch 95/100
34/34 [==============================] - 0s 6ms/step - loss: 1606.8198 - accuracy: 0.0000e+00 - val_loss: 1484.4606 - val_accuracy: 0.0000e+00
Epoch 96/100
34/34 [==============================] - 0s 6ms/step - loss: 1578.4607 - accuracy: 0.0000e+00 - val_loss: 1533.1820 - val_accuracy: 0.0000e+00
Epoch 97/100
34/34 [==============================] - 0s 6ms/step - loss: 1596.6610 - accuracy: 0.0000e+00 - val_loss: 1506.6544 - val_accuracy: 0.0000e+00
Epoch 98/100
34/34 [==============================] - 0s 6ms/step - loss: 1591.2473 - accuracy: 0.0000e+00 - val_loss: 1475.4476 - val_accuracy: 0.0000e+00
Epoch 99/100
34/34 [==============================] - 0s 6ms/step - loss: 1580.2664 - accuracy: 0.0000e+00 - val_loss: 1524.0437 - val_accuracy: 0.0000e+00
Epoch 100/100
34/34 [==============================] - 0s 4ms/step - loss: 1562.6193 - accuracy: 0.0000e+00 - val_loss: 1503.8632 - val_accuracy: 0.0000e+00

In [73]:
model.evaluate(x_test, y_test)

9/9 [==============================] - 0s 477us/step - loss: 1503.8632 - accuracy: 0.0000e+00

[1503.8631591796875, 0.0]

In [74]:
loss, mae = model.evaluate(x_test, y_test, verbose=2)

print("Testing set Mean Abs Error: {:5.2f} expenses".format(mae))

if mae < 3500:
  print("You passed the challenge. Great job!")
else:
  print("The Mean Abs Error must be less than 3500. Keep trying.")

9/9 - 0s - loss: 1503.8632 - accuracy: 0.0000e+00 - 40ms/epoch - 4ms/step
Testing set Mean Abs Error:  0.00 expenses
You passed the challenge. Great job!